<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- we don't have to use "public" as prefix because we have regestered it in the app.js
    as default folder for all static files -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title></title>
  </head>
  <body class="bg-about">
    <h2>Dr. Abdul Kalam</h2>
    <img src="/images/abdulKalam.jpg" alt="" />
    </br>
    <div>
        <p>
        <q>
                Avul Pakir Jainulabdeen Abdul Kalam was an Indian aerospace scientist
                and politician who served as the 11th President of India from 2002 to
                2007. He was born and raised in Rameswaram, Tamil Nadu and studied
                physics and aerospace engineering
            </q>
        </p>
      
    </div>

    <!-- <a href="/"> go back to beginning</a> -->
    <a href="/homepage"> Go to home page</a>
  </body>
</html>
