<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Express Basic Site</title>
  </head>
  <body>
    <h2>Welcome to Sunitha's Express Basic Site !</h2>
    <!-- we don't have to put '/public/images/name-opf-image.jpg' since public
    is already registered for all static files (stylesheets, images, etc.) -->
    <ul>
      <li><a href="/homepage"> Home Page </a></li>
      <li><a href="/about"> About </a></li>
      <li><a href="/works"> Works </a></li>
      <li><a href="/photogallery"> Photo Gallery </a></li>
    </ul>
  </body>
</html>
