<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-epuiv="X-UA-Compatible" content="ie=edge" />
    <!-- we don't have to use "public" as prefix because we have regestered it in the app.js
    as default folder for all static files -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title> </title>
  </head>
  <body>
    <h2>Abdul Kalam's Photo Gallery</h2>
    <div id="photo-gal">
      <div>
        <img src="/images/AK_Photo1.jpg" />
        <p>As a scientist</p>
      </div>
      <div>
        <img src="/images/AK_Photo2.jpg" />
        <p>As a President</p>
      </div>
      <div>
        <img src="/images/AK_Photo3.jpg" />
        <p>As a Speaker</p>
      </div>
      <!-- <div>
        <video width="320" height="240" controls>
          <source src="movie.mp4" type="video/mp4" />
          <source src="movie.ogg" type="video/ogg" />
          Your browser does not support the video tag.
        </video>
      </div> -->
      <!-- <div>
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/watch?v=DaWudE3hPLA"
        >
        </iframe>
      </div> -->
    </div>
  </body>
</html>
